<!-- Hereda del template main -->

{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

<!-- Importar macros de formulario -->
{% from "form_macros.html" import show_field, show_submit, show_checkbox %}

{% block content %}
<!--Content-->
<div class="container  text-white">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>{{title}}</h1>
            <form method="POST" action="{{url_for('users.create')}}">
                <!-- hidden estara escondide no lo puede tocar nadie -->
                <input type="hidden" name="csrf_token" value="{{csrf_token() }}" />
                <div class=" form-row">
                    {{ show_field(form.email, class="form-control") }}
                </div>

                <div class="form-group">
                    {{ show_field(form.password, class="form-control") }} <br>
                    {{ show_field(form.confirm, class="form-control") }}

                </div>
                <div class="form-row">
                    {{show_checkbox(form.admin)}}
                </div>
                {{show_submit(form.submit)}}
            </form>
        </div>


    </div>
</div>
<!-- Fin de contenido -->
{% endblock %}