{% macro show_error(field) %}
{% if field.errors %}
<!--Si existen errores -->
<div class="alert alert-danger my-1" role="alert">
    {% for error in field.errors %}
    <!--Recorrer errores-->
    <!--Mostrar error -->
    {{ error }} <br>
    {% endfor %}
</div>
{% endif %}
{% endmacro %}

<!-- Macro que se encarga de mostrar los campos del formulario -->
{% macro show_field(field) %}
{{ field.label }}
<!-- Mostrar etiqueta -->

{{ field(**kwargs) | safe }}
<!-- Mostrar campo -->

{{ show_error(field) }}
<!-- Llamar a macro que muestra el error -->

{% endmacro %}

<!-- Macro que se encarga de mostrar los campos tipo submit formulario -->
{% macro show_submit(field) %}
<button class="btn btn-outline-light my-2 my-sm-1 center" type="submit"><i class="fas fa-save"></i>
    {{ field(**kwargs) | safe }}
    <!-- Mostrar campo -->
</button>
{% endmacro %}

{% macro show_checkbox(field) %}
<div class="checkbox">
    <label>
        {{ field(type='checkbox', **kwargs) }} {{ field.label }}
    </label>
</div>
{% endmacro %}