<!-- Hereda del template main -->

{% extends "main.html" %}

<!-- Importar el archivo de macros -->

{% import "macros.html" as macro %}


{% from "form_macros.html" import show_field, show_submit %}

{% block content %}
<!--Content-->
<div class="container  text-white">
    <div class="row justify-content-center">
        <div class="col-md-2 d-none d-md-block"></div>
        <div class="col-md-8">
            <a class="col-auto"><i class="fas fa-user fa-7x fa-lg"></i></a>

            <br>


            <form method="POST" action="{{ url_for('login.login')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-row">
                    {{ show_field(loginForm.email, class="form-control mr-sm-2") }}
                </div>
                <div class="form-row">
                    {{ show_field(loginForm.password,   class="form-control")}}
                </div>
                {{ show_submit(loginForm.submit, class="btn")}}


                <div class="div">

                </div>
            </form>

        </div>
        <div class="col-md-2 d-none d-md-block"></div>
    </div>
</div>
{% endblock %}