<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Proyecto Seisms</title>
  {% block head %}
  <!-- style css only-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- style css local-->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

  {% endblock %}
</head>

<body>
  {% block script %}
  <!-- js -->
  <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/ec398cbdc7.js"></script>
  <script>
    $(function () { $('[data-toggle="tooltip"]').tooltip() })
  </script>
  {% endblock %}

  {% block menu %}
  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <a class="navbar-brand text-light" href="{{url_for('main.index')}}"><i class="fas fa-server text-light"></i>
        Seismology</a>

      <!--items -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-nav mr-auto">
          <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
            {% if current_user.admin %}
            <li class="nav-item">
              <a class="nav-link text-light" href="{{url_for('sensors.index')}}">Sensors</a>
            </li>


            <li class="nav-item">
              <a class="nav-link text-light" href="{{url_for('users.index')}}">Users</a>
            </li>
            {% endif %}
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Seisms
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                <a class="dropdown-item " href="{{url_for('verified_seism.index')}}">Verified Seisms</a>
                {% if current_user.is_authenticated %}
                <a class="dropdown-item" href="{{url_for('unverified_seism.index')}}">Unverified Seisms</a>
                {% endif %}
              </div>
            </li>
          </ul>
        </div>


        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li><a class="btn btn-secondary" href="{{url_for('users.index')}}"><i class="fas fa-user"></i></a></li>
          <li><a class="btn btn-secondary" href="{{url_for('verified_seism.index')}}"><i
                class="fas fa-house-user"></i></a></li>
          <li><a class="btn btn-secondary" href="{{url_for('login.logout')}}"><i class="fas fa-sign-out-alt"></i>
              Logout</a>
          </li>
          {% else %}
          <li><a class="btn btn-secondary" href="{{url_for('login.login')}}"><i class="fas fa-sign-in-alt"></i>
              Login</a>
          </li>
          {% endif %}

        </ul>

    </nav>
  </header>
  {% endblock %}

  {% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-dark">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item">
        {% if not loop.last %}
        <a class="text-light" href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
        {% else %}
        {{ breadcrumb.text }}
        {{ "/" if not loop.last }}
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </nav>
  {% endblock %}
  {% block flash %}
  <div class="container-fluid">
    <div style="position: relative">
      <div style="position: absolute; top: 0; right: 0;">
        <div class="col-auto mx-auto">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  </br></br>

  {%block content %}
  <!--Content-->
  {% endblock %}
  <br> <br>
  {% block footer %}
  <!-- FOOTER -->
  <footer class="footer fixed-bottom mt-auto py-3">
    <div class="container">
      <div class="text-left text-light"> © 2020 Copyright:
        <a class="text-light" href="https://las.op.gg/summoner/userName=God%20illuminated">God illuminated</a>
      </div>

    </div>

  </footer>
  {% endblock %}

</body>

</html>