<!-- Hereda del template main -->

{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

{% from "form_macros.html" import show_field, show_submit, show_checkbox %}

{% block content %}


<!--Content-->
<div class="container text-white">
    <div class="row">
        <div class="col-md-2 d-none d-md-block"></div>
        <div class="col-md-8">
            <!-- Tabla mi bro -->
            <form method="GET" action="{{url_for('sensors.index')}}">

                <div class="form-row">
                    <div class="col">
                        {{show_field(filter.name, class='form-control')}}
                    </div>
                    <div class="col">
                        {{show_field(filter.userId, class='form-control')}}
                    </div>

                </div>

                <br>

                <div class="form-row">
                    <div class="col">
                        {{show_checkbox(filter.status)}}
                    </div>
                    <div class="col">
                        {{show_checkbox(filter.active)}}
                    </div>
                </div>

                <div class="form-row">
                    {{show_submit(filter.submit, class='btn btn-success')}}
                </div>

            </form>
            <h1>{{title}}</h1>
            <div class="table-responsive text-center">
                <!-- striped es para poner las lineas de la table -->
                <!-- hover es para hacer una animacion cuando pasas el mouse por encima -->
                <!-- border es para los bordes de la tabla -->
                <table class="table table-dark table-striped table-hover table-bordered">
                    <thead class="thead">
                        <tr>
                            <!-- th seria para  -->
                            <th scope="col">#</th>
                            <th scope="col">
                                {% if request.args.sort_by == "name.desc" %}
                                <a class="text-white" href="{{url_for('sensors.index', 
                                sort_by = 'name.asc',
                                name = request.args.name, 
                                status = request.args.status, 
                                active = request.args.active,
                                userId = request.args.userId)}}">Name</a>
                                {%else %}
                                <a class="text-white" href="{{url_for('sensors.index',
                                sort_by = 'name.desc',
                                name = request.args.name,
                                status = request.args.status,
                                active = request.args.active,
                                userId = request.args.userId)}}">Name</a>
                                {% endif %}

                            </th>
                            <th scope="col">
                                {% if request.args.sort_by == "status.desc" %}
                                <a class="text-white" href="{{ url_for('sensors.index',
                                sort_by = 'status.asc',
                                name = request.args.name,
                                status = request.args.status,
                                active = request.args.active,
                                userId = request.args.userId)}}">Status</a>
                                {% else %}
                                <a class="text-white" href="{{url_for('sensors.index',
                                sort_by = 'status.desc',
                                name = request.args.name,
                                status = request.args.status,
                                active = request.args.active,
                                userId = request.args.userId)}}">Status</a>
                                {% endif %}
                            </th>

                            <th scope="col">
                                {% if request.args.sort_by == "active.desc" %}
                                <a class="text-white" href="{{ url_for('sensors.index',
                                    sort_by = 'active.asc',
                                    name = request.args.name,
                                    status = request.args.status,
                                    active = request.args.active,
                                    userId = request.args.userId )}}">Active</a>
                                {% else %}
                                <a class="text-white" href="{{url_for('sensors.index',
                                sort_by = 'active.desc',
                                name = request.args.name,
                                status = request.args.status,
                                active = request.args.active,
                                userId = request.args.userId)}}">Active</a>
                                {% endif %}
                            </th>

                            <th scope="col">
                                {% if request.args.sort_by == "user.email.desc" %}
                                <a class="text-white" href="{{ url_for('sensors.index',
                                    sort_by = 'user.email.asc',
                                    name = request.args.name,
                                    status = request.args.status,
                                    active = request.args.active,
                                    userId = request.args.userId )}}">User Associated</a>
                                {% else %}
                                <a class="text-white" href="{{url_for('sensors.index',
                                    sort_by = 'user.email.desc',
                                    name = request.args.name,
                                    status = request.args.status,
                                    active = request.args.active,
                                    userId = request.args.userId)}}">User Associated</a>
                                {% endif %}
                            </th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for sensor in sensors %}
                        {{macro.show_sensor(sensor)}}
                        {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
        <div class="col-md-2 d-none d-md-block"></div>
    </div>
</div>
<!-- PAGINACION -->
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {% if pagination.current_page != 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('sensors.index',
        page = (pagination.current_page-1),
        name = request.args.name,
        status = request.args.status,
        active = request.args.active,
        userId = request.args.userId )}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for n in range(1, pagination.pages+1) %}
        {% if n != pagination.current_page %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('sensors.index',
        page = n,
        name = request.args.name,
        status = request.args.status,
        active = request.args.active,
        userId = request.args.userId )}}">{{n}}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="+1" aria-disabled="true">{{n}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if pagination.current_page != pagination.pages %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('sensors.index',
        page = (pagination.current_page+1),
        name = request.args.name,
        status = request.args.status,
        active = request.args.active,
        userId = request.args.userId )}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next">
                <span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- Fin de contenido -->
{% endblock %}