<!-- Hereda del template main -->

{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

{% block content %}
<!--Content-->

<div class="container text-white">
    <div class="row justify-content-center">
        <div class="col-md-2 d-none d-md-block"></div>
        <div class="col-md-auto">
            <h1>DETAILED SENSOR</h1>
            <div class="table-responsive text-left">
                <table class="table table-dark table-striped table-hover table-bordered">
                    <caption>
                        <a name="modify" class="btn btn-success" href="{{url_for('sensors.edit',id=sensor.id)}}"
                            role="button">Modify</a>
                        <a name="delete" class="btn btn-danger" href="{{url_for('sensors.delete',id=sensor.id)}}"
                            role="button">Delete</a>
                    </caption>
                    <tbody>
                        <tr>
                            <th scope="col">#</th>
                            <td>{{sensor.id}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Name</th>
                            <td>{{sensor.name}}</td>
                        </tr>
                        <tr>
                            <th scope="col">PORT</th>
                            <td>{{sensor.port}}</td>
                        </tr>
                        <tr>
                            <th scope="col">IP</th>
                            <td>{{sensor.ip}}</td>

                        </tr>
                        <tr>
                            <<th scope="col">Status</th>
                                <td>{{sensor.status}}</td>
                        </tr>
                        <tr>
                            <th scope="col">Active</th>
                            <td>{{sensor.active}}</td>
                        </tr>
                        <tr>
                            <th scope="col">User Assigned</th>
                            <td>{% if sensor.user %}
                                {{sensor.user.email}}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-2 d-none d-md-block"></div>
    </div>
</div>

{% endblock %}