<!-- Hereda del template main -->

{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

{% block content %}
<!--Content-->

<div class="container text-white">
    <div class="row justify-content-center">
        <div class="col-md-2 d-none d-md-block"></div>
        <div class="col-md-auto">
            <h1>DETAILED UNVERIFIEDSEISM</h1>
            <div class="table-responsive text-left">
                <table class="table table-dark table-striped table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td> Date Time :</td>
                            <td>{{unverified_seism.datetime}}</td>
                        </tr>
                        <tr>
                            <td> Depth :</td>
                            <td>{{unverified_seism.depth}}</td>
                        </tr>
                        <tr>
                            <td>Magnitude :</td>
                            <td>{{unverified_seism.magnitude}}</td>
                        </tr>
                        <tr>
                            <td> Latitude :</td>
                            <td>{{unverified_seism.latitude}}</td>

                        </tr>
                        <tr>
                            <td>Longitude :</td>
                            <td>{{unverified_seism.longitude}}</td>
                        </tr>
                        <tr>
                            <td> Sensor :</td>
                            <td>{{unverified_seism.sensor.name}}</td>
                        </tr>
                </table>
            </div>

        </div>
        <div class="col-md-2 d-none d-md-block"></div>
    </div>
</div>

{% endblock %}