<!-- Hereda del template main -->
{% extends "main.html" %} {# Herencia #}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

<!-- Importar macros de formulario -->
{% from "form_macros.html" import show_field, show_submit,show_checkbox %}

<!-- Define el contenido -->
{% block content %}
<!-- Contenido -->
<div class="container">
    <div class="row">
        <div class="col-md-2 d-none d-md-block"></div>
        <div class="col-md-8">
            <h1></h1>
            <form method="POST" action="{{ url_for('unverified_seism.edit', id=unverified_seism.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <div class="form-group">

                    <div class="form-row">
                        {{ show_field( form.depth, class="form-control" ) }}
                    </div>

                    <div class="form-row">
                        {{ show_field( form.magnitude, class="form-control" ) }}
                    </div>

                    <br>
                    <div class="form-row">
                        {{ show_checkbox(form.verified) }}
                    </div>

                </div>
                <div class="col-auto">
                    <!-- Llama a macro especial para mostrar el campo de submit -->
                    {{ show_submit(form.submit, class="btn btn-success") }}
                </div>
            </form>
        </div>
        <div class="col-md-2 d-none d-md-block"></div>
    </div>
</div>
<!-- Fin Contenido -->
{% endblock %}