<!-- Hereda del template main -->

{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}


{% block content %}
<!--Content-->
<div class="container text-white">
    <div class="row">
        <div class="col-md-2 d-none d-md-block"></div>
        <div class="col-md-8">
            <!-- Tabla mi bro -->
            <h1>{{title}}</h1>
            <div class="table-responsive text-center">
                <!-- striped es para poner las lineas de la table -->
                <!-- hover es para hacer una animacion cuando pasas el mouse por encima -->
                <!-- border es para los bordes de la tabla -->
                <table class="table table-dark table-striped table-hover table-bordered">
                    <thead>
                        <!-- th seria para  -->
                        <th scope="col">#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Admin</th>
                        <th scope="col">Actions</th>
                    </thead>
                    <tbody>

                        {% for user in users %}
                        {{macro.show_user(user)}}
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 d-none d-md-block"></div>
    </div>
</div>

<!-- Pagination-->
<!-- EN NAV CLASS M ES DE MARGEN T DE TOP  -->
<!-- P DE PADING QUE EL PADING ES EL ESPACIADO DE ADENTRO DEL CONTENIDO NO DEL MARGEN -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if pagination.current_page != 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('users.index',
            page = (pagination.current_page-1)
             )}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for n in range(1, pagination.pages+1) %}
        {% if n != pagination.current_page %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('users.index',
            page = n
           )}}">{{n}}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="+1" aria-disabled="true">{{n}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if pagination.current_page != pagination.pages %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('users.index', page=(pagination.current_page+1))}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next">
                <span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- Fin de contenido -->
{% endblock %}