<!-- Hereda del template main -->
{% extends "main.html" %} {# Herencia #}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

<!-- Importar macros de formulario -->
{% from "form_macros.html" import show_field, show_submit %}

<!-- Define el contenido -->
{% block content %}
<!-- Contenido -->
<div class="container">
    <div class="row">
        <div class="col-md-2 d-none d-md-block"></div>
        <div class="col-md-8">
            <h1>Edit User</h1>
            <form method="POST" action="{{ url_for('users.edit', id=id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <div class="form-group">
                    <div class="col-auto">
                        {{ show_field(form.email, class="form-control") }}
                    </div>
                </div>
                <div class="form-group align-items-center">
                    <div class="col-auto">
                        {{ show_field(form.admin, class="form-check-label") }}
                    </div>
                </div>
                <div class="col-auto">
                    <!-- Llama a macro especial para mostrar el campo de submit -->
                    {{ show_submit(form.submit, class="btn btn-success") }}
                </div>
            </form>
        </div>
        <div class="col-md-2 d-none d-md-block"></div>
    </div>
</div>
<!-- Fin Contenido -->
{% endblock %}