<!-- Hereda del template main -->

{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

{% from "form_macros.html" import show_field, show_submit %}

{% block content %}
<!--Content-->
<div class="container text-white">
    <div class="row">
        <div class="col-md-2 d-none d-md-block"></div>
        <div class="col-md-8">
            <form method="GET" action="{{url_for('verified_seism.index')}}">
                <div class="form-row">
                    <div class="col">
                        {{show_field(filter.datetimede, class='form-control')}}
                    </div>
                    <div class="col">
                        {{show_field(filter.datetimeTo, class='form-control')}}
                    </div>
                    <div class="col">
                        {{show_field(filter.sensorId, class='form-control')}}

                    </div>
                </div>

                <br>
                <div class="form-row">
                    <div class="col">
                        {{show_field(filter.depthMin, class='form-control')}}
                    </div>
                    <div class="col">
                        {{show_field(filter.depthMax, class='form-control')}}
                    </div>
                    <div class="col">
                        {{show_field(filter.magnitudeMin, class='form-control')}}
                    </div>
                    <div class="col">
                        {{show_field(filter.magnitudeMax, class='form-control')}}
                    </div>
                </div>
                <br>
                <div class="form-row">
                    {{show_submit(filter.submit, class='btn btn-success')}}
                    {{show_submit(filter.download , class='btn btn-success')}}
                </div>
            </form>
            <!-- Tabla mi bro -->
            <h1>{{title}}</h1>
            <div class="table-responsive text-center">
                <!-- striped es para poner las lineas de la table -->
                <!-- hover es para hacer una animacion cuando pasas el mouse por encima -->
                <!-- border es para los bordes de la tabla -->
                <table class="table table-dark table-striped table-hover table-bordered">
                    <thead>
                        <!-- th seria para  -->
                        <th scope="col">#</th>
                        <th scope="col">
                            {% if request.args.sort_by == "datetime.desc"%}
                            <a class="text-white" href="{{ url_for('verified_seism.index', 
                                sort_by = 'datetime.asc', 
                                datetime = request.args.datetime,
                                datetimede = request.args.datetimede, 
                                datetimeTo=request.args.datetimeTo, 
                                depthMin = request.args.depthMin,
                                depthMax = request.args.depthMax,
                                magnitudeMin= request.args.magnitudeMin,
                                magnitudeMax = request.args.magnitudeMax,
                                sensorId = request.args.sensorId)}}">DateTime</a>
                            {% else %}
                            <a class="text-white" href="{{ url_for('verified_seism.index', 
                                sort_by = 'datetime.desc', 
                                datetime = request.args.datetime,
                                datetimede = request.args.datetimede, 
                                datetimeTo=request.args.datetimeTo, 
                                depthMin = request.args.depthMin,
                                depthMax = request.args.depthMax,
                                magnitudeMin= request.args.magnitudeMin,
                                magnitudeMax = request.args.magnitudeMax,
                                sensorId = request.args.sensorId)}}">DateTime</a>
                            {% endif %}
                        </th>
                        <th scope="col">
                            {% if request.args.sort_by == "depth.desc"%}
                            <a class="text-white" href="{{ url_for('verified_seism.index', 
                                sort_by = 'depth.asc', 
                                datetime = request.args.datetime,
                                datetimede = request.args.datetimede, 
                                datetimeTo=request.args.datetimeTo, 
                                depthMin = request.args.depthMin,
                                depthMax = request.args.depthMax,
                                magnitudeMin= request.args.magnitudeMin,
                                magnitudeMax = request.args.magnitudeMax,
                                sensorId = request.args.sensorId)}}">Depth</a>
                            {% else %}
                            <a class="text-white" href="{{ url_for('verified_seism.index', 
                                sort_by = 'depth.desc', 
                                datetime = request.args.datetime,
                                datetimede = request.args.datetimede, 
                                datetimeTo=request.args.datetimeTo, 
                                depthMin = request.args.depthMin,
                                depthMax = request.args.depthMax,
                                magnitudeMin= request.args.magnitudeMin,
                                magnitudeMax = request.args.magnitudeMax,
                                sensorId = request.args.sensorId)}}">Depth</a>
                            {% endif %}
                        </th>
                        <th scope="col">
                            {% if request.args.sort_by == "magnitude.desc"%}
                            <a class="text-white" href="{{ url_for('verified_seism.index', 
                                sort_by = 'magnitude.asc', 
                                datetime = request.args.datetime,
                                datetimede = request.args.datetimede, 
                                datetimeTo=request.args.datetimeTo, 
                                depthMin = request.args.depthMin,
                                depthMax = request.args.depthMax,
                                magnitudeMin= request.args.magnitudeMin,
                                magnitudeMax = request.args.magnitudeMax,
                                sensorId = request.args.sensorId)}}">Magnitude</a>
                            {% else %}
                            <a class="text-white" href="{{ url_for('verified_seism.index', 
                                sort_by = 'magnitude.desc', 
                                datetime = request.args.datetime,
                                datetimede = request.args.datetimede, 
                                datetimeTo=request.args.datetimeTo, 
                                depthMin = request.args.depthMin,
                                depthMax = request.args.depthMax,
                                magnitudeMin= request.args.magnitudeMin,
                                magnitudeMax = request.args.magnitudeMax,
                                sensorId = request.args.sensorId)}}">Magnitude</a>
                            {% endif %}

                        </th>
                        <th scope="col">
                            {% if request.args.sort_by == "sensor.name.desc"%}
                            <a class="text-white" href="{{ url_for('verified_seism.index', 
                                sort_by = 'sensor.asc', 
                                datetime = request.args.datetime,
                                datetimede = request.args.datetimede, 
                                datetimeTo=request.args.datetimeTo, 
                                depthMin = request.args.depthMin,
                                depthMax = request.args.depthMax,
                                magnitudeMin= request.args.magnitudeMin,
                                magnitudeMax = request.args.magnitudeMax,
                                sensorId = request.args.sensorId)}}">Sensor Name</a>
                            {% else %}
                            <a class="text-white" href="{{ url_for('verified_seism.index', 
                                sort_by = 'sensor.desc', 
                                datetime = request.args.datetime,
                                datetimede = request.args.datetimede, 
                                datetimeTo=request.args.datetimeTo, 
                                depthMin = request.args.depthMin,
                                depthMax = request.args.depthMax,
                                magnitudeMin= request.args.magnitudeMin,
                                magnitudeMax = request.args.magnitudeMax,
                                sensorId = request.args.sensorId)}}">Sensor Name</a>
                            {% endif %}
                        </th>
                        <th scope="col">Actions</th>
                    </thead>
                    <tbody>

                        {% for verified_seism in verified_seisms %}
                        {{macro.show_verified_seism(verified_seism)}}
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 d-none d-md-block"></div>
    </div>
</div>
{

<!-- Pagination -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if pagination.current_page != 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('verified_seism.index',
            page = (pagination.current_page-1),
            datetime = request.args.datetime,
            datetimede = request.args.datetimede,
            datetimeTo = request.args.datetimeTo,
            depthMin = request.args.depthMin,
            depthMax = request.args.depthMax,
            magnitudeMin = request.args.magnitudeMin,
            magnitudeMax = request.args.magnitudeMax,
            sensorId = request.args.sensorId )}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for n in range(1, pagination.pages+1) %}
        {% if n != pagination.current_page %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('verified_seism.index',
            page = n,
            datetime = request.args.datetime,
            datetimede = request.args.datetimede,
            datetimeTo = request.args.datetimeTo,
            depthMin = request.args.depthMin,
            depthMax = request.args.depthMax,
            magnitudeMin = request.args.magnitudeMin,
            magnitudeMax = request.args.magnitudeMax,
            sensorId = request.args.sensorId )}}">{{n}}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="+1" aria-disabled="true">{{n}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if pagination.current_page != pagination.pages %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('verified_seism.index',
            page=(pagination.current_page+1),
            datetime = request.args.datetime,
            datetimede = request.args.datetimede,
            datetimeTo = request.args.datetimeTo,
            depthMin = request.args.depthMin,
            depthMax = request.args.depthMax,
            magnitudeMin = request.args.magnitudeMin,
            magnitudeMax = request.args.magnitudeMax,
            sensorId = request.args.sensorId )}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next">
                <span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
    </ul>
</nav>
</div>


<div class="col-md-2 d-none d-md-block"></div>
</div>
</div>

<!-- Fin Contenido -->
{% endblock %}