<div class="container">
  <br />
  <div class="row">
    <div class="col-md-6">
      <!-- Enlace que carga el componente -->
      <a class="btn btn-lg btn-block btn-info" routerLink="sensor">Sensor</a>
    </div>
    <div class="col-md-6">
      <!-- Enlace que carga el componente -->
      <a class="btn btn-lg btn-block btn-info" routerLink="user">User</a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <!-- Lugar donde se cargaran los componentes -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>